$square-bg-color: rgba(112, 211, 251, 1), rgba(254, 222, 70, 1), rgba(255, 113, 123, 1), rgba(0, 219, 211, 1),
    rgba(201, 2, 20, 1), rgba(160, 3, 174, 1), rgba(220, 109, 0, 1), rgba(87, 162, 0, 1);
$gris-claro: #f2f2f2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
html {
    overflow-x: hidden;
}
body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
        sans-serif;
    background-color: $gris-claro;
}

.menu-wrap {
    height: 8rem;
    margin-top: 8rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0rem 0rem 1rem grey;
    border-bottom: 1px solid #e6e6e6;
    .toggler,
    .hamburguer {
        position: absolute;
        width: 5rem;
        height: 5rem;
        right: 5rem;
    }
    .toggler {
        opacity: 0;
        z-index: 2;
        cursor: pointer;
        &:checked + .hamburguer .linea {
            background: rgba(0, 0, 0, 0);
            &:before {
                transform: rotate(135deg);
                margin: 0;
                background: rgba(0, 0, 0, 0.3);
            }
            &:after {
                transform: rotate(225deg);
                margin: 0;
                background: rgba(0, 0, 0, 0.4);
            }
        }
        &:checked ~ ul.menu-list {
            position: absolute;
            top: 8rem;
            left: 0;
            padding-left: 3rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            opacity: 1;
            width: 100%;
            li {
                display: flex;
                flex-direction: row;
                border-right: none;
                .menu-text {
                    margin-left: 5rem;
                }
                &:first-child {
                    border-left: none;
                }
            }
        }
    }
    .hamburguer {
        z-index: 1;
        display: flex;
        align-items: center;
        .linea,
        .linea:before,
        .linea:after {
            content: "";
            position: absolute;
            width: 3rem;
            height: 0.3rem;
            transition: all 0.5s ease;
        }
        .linea:before {
            background-color: nth($square-bg-color, 5);
            margin-top: -1rem;
        }
        .linea {
            background-color: nth($square-bg-color, 4);
        }
        .linea:after {
            background-color: nth($square-bg-color, 8);
            margin-top: 1rem;
        }
    }

    ul.menu-list {
        position: relative;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        background-color: white;
        li {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: left;
            width: 100%;
            align-items: center;
            padding: 1rem 1.2rem;
            border-right: 1px solid #e6e6e6;
            &:first-child {
                border-left: 1px solid #e6e6e6;
            }
            .menu-text {
                font-size: 1.4rem;
                color: gray;
            }
            .square {
                margin: 1.3rem 0rem 1.3rem 0rem;
                width: 1.6rem;
                height: 1.5rem;
            }
            .submenu {
                display: flex;
                position: absolute;
                top: 0;
                left: 5rem;
                z-index: 3;
                margin-top: 8rem;
                background-color: white;
                padding: 0 1rem 1rem 0;
                .submenu-der,
                .submenu-izq {
                    width: 60rem;
                    height: 35rem;
                    float: left;
                    .link {
                        font-size: 1.4rem;
                        color: gray;
                        padding: 1.2rem;
                    }
                }
                .submenu-der {
                    border: 1px solid #e6e6e6;
                    display: none;
                    .text-ad {
                        font-size: 1.5rem;
                        padding: 1.5rem;
                        color: gray;
                    }
                }
            }
        }
    }
}

/*-----media querys-------------------------------------------------------------------------*/
@media (min-width: 1200px) {
    .menu-wrap {
        .toggler,
        .hamburguer {
            opacity: 0;
        }
        ul.menu-list {
            opacity: 1;
            li {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0rem 1.2rem;
                border-right: 1px solid #e6e6e6;
                width: auto;
                .square {
                    margin: 2rem 0rem 1.8rem 0rem;
                    width: 1.6rem;
                    height: 1.5rem;
                }
                .menu-text {
                    margin-bottom: 1rem;
                }
                .submenu .submenu-der {
                    display: block;
                }
                .submenu {
                    left: -23.7rem;
                }
            }
        }
    }
}

@for $i from 1 to length($square-bg-color) + 1 {
    .square-#{$i} {
        background-color: nth($square-bg-color, $i);
    }
    .submenu.menu-item-#{$i} {
        visibility: hidden;
    }
    .menu-item-#{$i}:hover .submenu.menu-item-#{$i} {
        visibility: visible;
    }
    .menu-item-#{$i}:hover {
        background-color: nth($square-bg-color, $i);
        .square {
            background-color: white;
        }
        ul li:hover {
            background-color: nth($square-bg-color, $i);
        }
    }
}
